[access]
	inheritFrom = ESOA
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
[access "refs/*"]
	owner = group ESOA-admins
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = group Anvil
	read = group ESOA-admins
	read = group ESO_improvisers_guard
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	forgeAuthor = group ESOA-admins
	forgeServerAsCommitter = group ESOA-admins
[access "refs/heads/*"]
	create = group Anvil
	create = group ESOA-admins
	create = group ESO_improvisers_guard
	create = group ESO_scrumbledores_guard
	label-Code-Review = -2..+2 group Anvil
	label-Code-Review = -2..+2 group ESOA-admins
	label-Code-Review = -2..+2 group ESO_improvisers_guard
	label-Code-Review = -2..+2 group ESO_scrumbledores_guard
	label-Verified = -1..+1 group Anvil
	label-Verified = -1..+1 group ESOA-admins
	label-Verified = -1..+1 group ESO_improvisers_guard
	label-Verified = -1..+1 group ESO_scrumbledores_guard
	submit = group Anvil
	submit = group ESOA-admins
	submit = group ESO_improvisers_guard
	submit = group ESO_scrumbledores_guard
[access "refs/for/refs/*"]
	push = group Anvil
	push = group ESOA-admins
	push = group ESO_improvisers_guard
	push = group user/Edward Woods (ewooedw)
	push = group user/Palak X (exxxpal)
	pushMerge = group Anvil
	pushMerge = group ESOA-admins
	pushMerge = group ESO_improvisers_guard
	pushMerge = group user/Edward Woods (ewooedw)
	pushMerge = group user/Palak X (exxxpal)
[access "refs/tags/*"]
	create = group ESOA-admins
	push = group ESOA-admins
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
	create = group Registered Users
	push = group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	pushMerge = group Registered Users
	push = group Registered Users
[plugin "eiffel"]
	enabled = false
	selected = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
